@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Lexend&family=Lilita+One&display=swap');

:root {
    --cor-principal: #FFFFFF;

    --cor-texto-header: #247031;

    --fonte-header-footer: 'Lilita One', cursive;

    --fonte-textos: 'Rubik', sans-serif;

    --nav-color: #247031;

    --nav-hover: #071409;

    --cor-titulos: #619656;

    --cor-footer: #1D2830;

    --cor-conteudo: #ececec;
}

body {
    margin: 0;
}

/*HEADER E NAV*/

.header {
    display: grid;
    grid-template-columns: 50px 1fr;
    justify-items: center;
    align-items: center;
    background-color: var(--cor-principal);
    color: var(--cor-texto-header);
    padding: 14px 16px;
    box-shadow: 0px 3px 10px #2c3546;
}

.txtLogo {
    font-family: var(--fonte-header-footer);
    font-size: xx-large;
    margin-right: 20px;
    align-items: center;
    justify-content: flex-start;
    margin-left: 100px;
}

.logo {
    align-items: center;
    justify-content: center;
}

.nav {
    display: flex;
    justify-content: center;
    margin-top: 0;
    flex-grow: 2;
    flex-direction: row;
    font-family: var(--fonte-textos);
    background-color: var(--nav-color);
}

.nav a {
    display: flex;
    color: var(--cor-conteudo);
    text-align: center;
    text-decoration: none;
    font-size: larger;
    padding: 0%;
    padding: 14px 14px;

}

.nav a:hover {
    transform: scale()1.1;
    transition: all 0.5s ease-in-out;
    background-color: var(--nav-hover);
    color: var(--cor-conteudo);
    padding: 14px 14px;
}

/*MAIN*/
main {
    font-family: var(--fonte-textos);
    margin-left: 200px;
    margin-right: 200px;
}

#img:hover {
    transform: scale(1.1);
    background: none;
    transition: 0.5s ease-out;
}

h1 {
    font-size: xx-large;
    color: var(--cor-texto-header);
}

h2 {
    color: var(--cor-titulos);
    font-family: var(--fonte-textos);
}

h3 {
    color: var(--cor-titulos);
    font-family: var(--fonte-textos);
}

#publi {
    margin-top: 10px;
    display: grid;
    align-items: center;
    justify-items: center;
    color: rgb(128, 128, 128);
    font-family: var(--fonte-textos);
    font-size: small;
}

#propaganda1 {
    display: grid;
    grid-template-rows: 20px 1fr;
    margin-top: 20px;
    padding: bottom 20px;
    margin-bottom: 15px;
    justify-items: center;
    background-color: rgb(224, 224, 224);

    height: 250px;


    animation: muda-propaganda 8s infinite alternate;
    background-image: url('imagens/propaganda1.jpeg');
    background-repeat: no-repeat;
    background-size: 600px 220px;
    background-position: center;

}

@keyframes muda-propaganda {
    0% {
        background-image: url('imagens/propaganda1.jpeg');
    }

    100% {
        background-image: url('imagens/front_familia_bx.jpg');
    }
}

/*SECTION 1*/
.container1 {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

#img {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

#noticiaprincipal {
    width: 500px;
}

#noticiaprincipal img:hover {
    transform: scale(1.1);
    background: none;
    transition: 0.5s ease-out;
}

#noticiaprincipal img {
    width: 500px;
}

.topicos img {
    width: 200px;
    height: 150px;
}

.topicos div {
    width: 200px;
    height: 150px;
    margin: 5px;
}

#p-1 {
    display: grid;
    align-items: center;
}

#p--1 {
    display: grid;
    align-items: center;
}

/*SECTION2*/

.container2 {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.noticia1 {
    width: 500px;
    height: 300px;
    margin: 5px;
}

.noticia1 img {
    width: 300px;
    height: 300px;
}

#img2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#p1 {
    display: grid;
    align-items: center;
    width: 1000px;
    margin-left: 15px;
    font-size: larger;
}

.noticia1 img:hover {
    transform: scale(0.9);
    background: none;
    transition: 0.5s ease-out;
}

/*SECTION3*/
.container3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px;

}

.container3 img {
    width: 200px;
}

.container3 img:hover {
    transform: scale(1.1);
    background: none;
    transition: 0.5s ease-out;
}

#img3 {
    display: grid;
    grid-template-rows: 2fr 150px;
}

.container3 div {
    margin-right: 20px;
}

/*FOOTER*/
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: flex-end;
    align-items: center;
    background-color: var(--cor-footer);
    font-family: var(--fonte-header-footer);
    color: var(--cor-conteudo);
    width: 100%;
    height: 150px;
    margin-top: 5px;
    margin: 0;
}

/*RESPONSIVIDADE*/
@media (max-width: 1000px) {
    main {
        margin-left: 0px;
        margin-right: 0px;
    }

    #propaganda1 {
        width: 100%;
    }

    .logo>img {
        width: 80px;
    }

    .txtLogo>h1 {
        font-size: 30px;
    }

    header {
        grid-template-columns: 110px 1fr;
    }

    nav>a {
        font-size: 20px;
    }

    main {
        grid-template-columns: 1fr 1fr;
    }

    .container1 {
        grid-template-columns: 1fr;
    }

    .container2 {
        grid-template-columns: 1fr;
    }

    #p1 {
        width: 200px;
    }

    .container3 {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 800px) {
    .logo>img {
        width: 80px;
    }

    .txtLogo>h1 {
        font-size: 30px;
    }

    header {
        grid-template-columns: 110px 1fr;
    }

    nav>a {
        font-size: 20px;
    }

    main {
        grid-template-columns: 1fr 1fr;
    }

    .container1 {
        grid-template-columns: 1fr;
    }

    .container2 {
        grid-template-columns: 1fr;
    }

    #p1 {
        width: 200px;
    }

    .container3 {
        grid-template-columns: 1fr;
    }

}

@media (max-width: 650px) {
    #propagnada1 {
        width: 350px;
        height: 150px;
        align-content: center;
    }

    main {
        margin: 0;
    }
}

@media (max-width: 600px) {
    #propaganda1 {
        width: 350px;
        height: 150px;
        justify-items: center;
        margin: 0px;
    }
}

@media (max-width: 490px) {
    #noticiaprincipal img {
        width: 400px;
    }

    #p--1 {
        width: 200px;
    }

    #noticiaprincipal {
        width: 400px;
    }

    #noticiaprincipal h2 {
        font-size: medium;
        width: 400px;
    }

    .topicos {
        width: 400px;
    }

    #p-1 {
        font-size: small;
        width: 400px;
    }

    #img2 img {
        width: 180px;
        height: 180px;
    }

    #p1 {
        font-size: small;
        width: 200px;
    }

    .container2 {
        grid-template-rows: 200px 200px;
    }
}

@media (max-width: 430px) {
    #propaganda1 {
        width: 150px;
        height: 100px;
    }

    .content {
        margin: none;

        grid-template-columns: 1fr;
    }
}

@media (max-width: 400px) {
    .logo {
        display: none;
    }

    header {
        grid-template-columns: 1fr;
    }

    .txtLogo>h1 {
        font-size: 20px;
    }

    nav>a {
        font-size: 14px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    #propaganda1 {
        width: 150px;
        height: 100px;
    }
}